.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #212121;
  color: white;
}

/* Charts */
h2{
  font-size: 48px;
  color: #46C2CB;
  font-weight: 400;
}
.chart-container{
  display:flex;
  align-items: center;
  justify-content: center;
}

/*Account Summary */
.account-summary{
  margin-top: 10px;
  border-top: 1px solid #9E9E9E;
  border-radius: 20px;
}
.account-summary>div{
  padding: 20px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent 5%, #9E9E9E 5% 95%, transparent 95%) 100% 1;
}
.account-summary>div:last-child{
  border-bottom: none;
}
.account-summary>div>span{
  font-weight: bold;
}
.account-summary>div>span:nth-child(2){
  float: right;
}
.account-summary>div:nth-child(odd)>span:nth-child(2){
  color: #46C2CB;
}
.account-summary>div:nth-child(even)>span:nth-child(2){
  color: #FA8EB2;
}

/*Slider*/
.slider-container{
  margin-top: 20px;
}
.main__glide{
  position: relative;
}
.glide__slide{
  background: #424242;
  border-radius: 20px;
}
.glide__slide p{
  margin: 1em
}
.glide__arrows{
  position: absolute;
  width: 95%;
  margin-left: 2.5%;
  top: 100px;
}
.glide__arrows button{
  border-radius: 100%;
  height: 40px;
  width: 40px;
  border: none;
  opacity: 80%;
}
.glide__arrow--right{
  float: right;
}
.glide__arrow svg{
  width: 30px;
  height: 30px;
}