.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #212121;
  color: white;
}

/* Charts */
.net-worth-container{
  z-index: 2;
  display: flex;
  flex-direction: row;
  position: fixed;
  max-width: 275px;
  align-items: center;
  flex-wrap: wrap;
  top: 0px;
  color: #46C2CB;
  padding: 0px 5px;
  
}
.net-worth-container-background{
  background: linear-gradient(to bottom, rgba(10,10,10,.8) 20%, transparent 100%);
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  opacity: 0;
  transition: opacity .4s
}
.net-worth-container span{
  display: flex;
  align-items: center;
}
.net-worth-container h2{
  color: white;
  font-size: 70px;
  font-weight: 400;
  margin: 0px;
}
.chart-container{
  display:flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 100px;
}
.chart-cover{
  background-color: #212121;
  border-radius: 20px;
}

/*Account Summary */
.account-summary{
  margin-top: 10px;
  border-top: 1px solid #9E9E9E;
  border-radius: 20px;
  background-color: #212121;
  margin-top: 0px;
}
.account-summary>div{
  padding: 20px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent 5%, #9E9E9E 5% 95%, transparent 95%) 100% 1;
}
.account-summary>div:last-child{
  border-bottom: none;
}
.account-summary>div>span{
  font-weight: bold;
}
.account-summary>div>span:nth-child(2){
  float: right;
}
.account-summary>div:nth-child(odd)>span:nth-child(2){
  color: #46C2CB;
}
.account-summary>div:nth-child(even)>span:nth-child(2){
  color: #FA8EB2;
}

/*Slider*/
.slider-container{
  padding-top: 20px;
  background-color: #212121;
}
.main__glide{
  position: relative;
}
.glide__slide{
  background: #424242;
  border-radius: 20px;
}
.glide__slide p{
  margin: 1em
}
.glide__arrows{
  position: absolute;
  width: 95%;
  margin-left: 2.5%;
  top: 100px;
}
.glide__arrows button{
  border-radius: 100%;
  height: 40px;
  width: 40px;
  border: none;
  opacity: 80%;
}
.glide__arrow--right{
  float: right;
}
.glide__arrow svg{
  width: 30px;
  height: 30px;
}

/*Mobile Nav*/
.mobile-nav-container{
  position: fixed;
  top: 10px;
  z-index: 3;
  right: 2.5%;
}
.mobile-nav-check{
  display:grid;
  place-items:center;
  height:50px;
  width: 50px;
  background:#424242;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin:0;
  border-radius: 100%;
  padding: 5px;
  z-index: 3;
  position: relative;
}
.mobile-nav-check>label{
  display:flex;
   flex-direction:column;
   width:40px;
   cursor:pointer;
 }
 
 .mobile-nav-check>label span{
   background: #fff;
   border-radius:10px;
   height:7px;
   margin: 3px 0px;
   transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
 
 }
 
 
 .mobile-nav-check>label>span:nth-of-type(1){
   width:50%;
   
 }
 
 .mobile-nav-check>label>span:nth-of-type(2){
   width:100%;
 }
 
 
 .mobile-nav-check>label>span:nth-of-type(3){
   width:75%;
  
 }
 .mobile-nav{
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background-color: #424242;
  z-index:-3;
  transition: all .4s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 }
 .mobile-nav svg{
  width: 30px;
  height: 30px;
  margin: 2px;
  transition: all .4s cubic-bezier(0.34, 1.56, 0.64, 1);
 }
 #icons-cover{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #424242;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
 }
 input[type="checkbox"]{
   display:none;
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(1){
   transform-origin:bottom;
   transform:rotatez(45deg) translate(2px,2px)
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(2){
   
   transform-origin:top;
   transform:rotatez(-45deg) translate(-2px, -3px);
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(3){
   
   transform-origin:bottom;
   width:50%;
   transform: translate(13px,-10px) rotatez(45deg);
 
 }
 input[type="checkbox"]:checked ~ .mobile-nav{
  transition: all .4s cubic-bezier(0.34, 1.56, 0.64, 1);
  height: 250px;
  z-index:-1;
  padding-top: 10px;
  box-shadow: 	#c2cb46 5px 5px 0px;
}
input[type="checkbox"]:checked ~ .mobile-nav svg{
  transition: all .4s cubic-bezier(0.34, 1.56, 0.64, 1);
  height: 50px;
}
 

 
 